* {
  box-sizing: border-box;
}

body{
    margin: 20px;
}

h1 {
  font-size: 35px;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  color: royalblue;
  margin-bottom: 35px;
}

p {
  padding: 10px;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  position: relative;
}

.part {
  background-color: tomato;
  border: 3px solid greenyellow;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
  text-align: justify;
  position: relative;
}

span {
  font-size: 20px;
  width: 150px;
  border: 3px solid black;
  font-weight: bold;
  text-align: center;
  float: right;
  top: 0;
  right: 0;
  position: absolute;
}

#s1,
#s2,
#s3 {
  background-color: royalblue;
  color: white;
}

@media (min-width: 992px) {
  .col-lg-4 {
    width: 33.33%;
    float: left;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6 {
    width: 50%;
    float: left;
  }
  .col-md-12 {
    width: 100%;
    float: left;
  }
}

@media (max-width: 767px) {
  .col-sx-12 {
    float: left;
    width: 100%;
  }
}
